.Rhistory

# Subfolder: Code
code/*.html
code/rosm.cache/*

# Subfolder: Paper
paper/appliedCopulas.log
paper/appliedCopulas.tex
paper/appliedCopulas.aux

# Subfolder: Data
data/0 input data/*.csv
data/isar data
data/donau data
data/*.zip
data/output/graphs/hydrographs/*.png
data/output/rdata/copula_dfs/*.Rdata
data/output/rdata/extended_dfs/*.Rdata
data/output/rdata/extended_dfs/issues.log
data/output/rdata/threshold_dfs/*.Rdata
data/fluesse*
data/simulation/*.Rdata
data/simulation/old/*.Rdata
data/output/presentation/*.Rdata

# Subfolder: River Reports
riverreports/*.html

# Subfolder: Präsentation
Präsentation/pictures/*.png